*{
    margin: 0px;
    padding: 0px;
}

.follow-btn{

    background-color: blue;
}

.following{
    background-color: red;
}

.result-container{
    width: 89%;
}




#main{
    /* background-color: #e2e8f0; */
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.column{
    display: flex;
    flex-direction: row;
    background-color: white;
    padding: 20px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 600px;
    margin: auto;
    text-align: center;
    font-family: arial;
    padding: 20px 40px;
    background-color: #f7f4f4;
    width: 200px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  h1{
    color: blueviolet;  
  }

  .title {
    color: grey;
    font-size: 18px;
  }
  
  button {
    border: none;
    border-radius: 2rem;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background:  #4568DC; 
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
 }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }

.img{
    border-radius: 50%;
    width: 100px;
}
