<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/stylesheet/home.css">
        <link rel="stylesheet" href="/stylesheet/navbar.css">
        <!-- <link rel="stylesheet" href="/stylesheet/all.css"> -->
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
            integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
            crossorigin="anonymous" />
    </head>

    <body>
        <%- include('partials/navbar') %>

            <div class="main-content odd-content">
                <div class="left-content">
                    <div>
                        <h2>Join The Arena Now!</h2>
                    </div>
                    <div>
                        <p>The website aims to host a wide range of
                            real-time multiplayer games which can be played by people all over the world. </p>
                    </div>
                    <div>
                        <p> These games are various board and other games based on wit and puzzle-solving skills.</p>
                    </div>
                </div>
                <div class="right-content">
                    <div><img class="picture-up picture" src="/images/remote-controller.png"></div>
                </div>
            </div>

            <div class="main-content">
                <svg id="wave" width="100%" height="100%" id="svg" viewBox="0 0 1440 400"
                    xmlns="http://www.w3.org/2000/svg" class="transition duration-300 ease-in-out delay-150">
                    <style>
                        .path-0 {
                            animation: pathAnim-0 4s;
                            animation-timing-function: linear;
                            animation-iteration-count: infinite;
                        }

                        @keyframes pathAnim-0 {
                            0% {
                                d: path("M 0,400 C 0,400 0,200 0,200 C 121.64285714285714,198.42857142857144 243.28571428571428,196.85714285714286 352,189 C 460.7142857142857,181.14285714285714 556.5000000000001,167 695,162 C 833.4999999999999,157 1014.7142857142858,161.14285714285717 1146,169 C 1277.2857142857142,176.85714285714283 1358.642857142857,188.42857142857142 1440,200 C 1440,200 1440,400 1440,400 Z");
                            }

                            25% {
                                d: path("M 0,400 C 0,400 0,200 0,200 C 146.82142857142856,168.75 293.6428571428571,137.5 412,127 C 530.3571428571429,116.5 620.25,126.75 711,135 C 801.75,143.25 893.3571428571429,149.50000000000003 1015,160 C 1136.642857142857,170.49999999999997 1288.3214285714284,185.25 1440,200 C 1440,200 1440,400 1440,400 Z");
                            }

                            50% {
                                d: path("M 0,400 C 0,400 0,200 0,200 C 113.03571428571428,220.53571428571428 226.07142857142856,241.07142857142858 351,230 C 475.92857142857144,218.92857142857142 612.7499999999999,176.25 741,179 C 869.2500000000001,181.75 988.9285714285716,229.92857142857142 1104,241 C 1219.0714285714284,252.07142857142858 1329.5357142857142,226.03571428571428 1440,200 C 1440,200 1440,400 1440,400 Z");
                            }

                            75% {
                                d: path("M 0,400 C 0,400 0,200 0,200 C 91.92857142857142,180.71428571428572 183.85714285714283,161.42857142857142 299,178 C 414.14285714285717,194.57142857142858 552.5000000000001,247 704,245 C 855.4999999999999,243 1020.1428571428571,186.57142857142858 1145,170 C 1269.857142857143,153.42857142857142 1354.9285714285716,176.71428571428572 1440,200 C 1440,200 1440,400 1440,400 Z");
                            }

                            100% {
                                d: path("M 0,400 C 0,400 0,200 0,200 C 121.64285714285714,198.42857142857144 243.28571428571428,196.85714285714286 352,189 C 460.7142857142857,181.14285714285714 556.5000000000001,167 695,162 C 833.4999999999999,157 1014.7142857142858,161.14285714285717 1146,169 C 1277.2857142857142,176.85714285714283 1358.642857142857,188.42857142857142 1440,200 C 1440,200 1440,400 1440,400 Z");
                            }
                        }
                    </style>
                    <defs>
                        <linearGradient id="gradient" x1="0%" y1="50%" x2="100%" y2="50%">
                            <stop offset="5%" stop-color="#b06ab3ff"></stop>
                            <stop offset="95%" stop-color="#4568dcff"></stop>
                        </linearGradient>
                    </defs>
                    <path
                        d="M 0,400 C 0,400 0,200 0,200 C 121.64285714285714,198.42857142857144 243.28571428571428,196.85714285714286 352,189 C 460.7142857142857,181.14285714285714 556.5000000000001,167 695,162 C 833.4999999999999,157 1014.7142857142858,161.14285714285717 1146,169 C 1277.2857142857142,176.85714285714283 1358.642857142857,188.42857142857142 1440,200 C 1440,200 1440,400 1440,400 Z"
                        stroke="none" stroke-width="0" fill="url(#gradient)"
                        class="transition-all duration-300 ease-in-out delay-150 path-0"
                        transform="rotate(-180 720 200)">
                    </path>
                </svg>

                <div class="left-content">
                    <div><img src="/images/queen.png" class="picture"></div>
                </div>
                <div class="right-content">
                    <div>
                        <h2>Take the time to play</h2>
                    </div>
                    <div>
                        <h2>Real-time gaming platform</h2>
                    </div>
                    <div>
                        <p> During your lunch break-or your commuting time?
                            At home?
                            Alone or with friends?
                        </p>
                    </div>
                </div>
                <svg id="wave_down" width="100%" height="100%" id="svg" viewBox="0 0 1440 400"
                    xmlns="http://www.w3.org/2000/svg" class="transition duration-300 ease-in-out delay-150">
                    <style>
                        .path-0 {
                            animation: pathAnim-0 4s;
                            animation-timing-function: linear;
                            animation-iteration-count: infinite;
                        }

                        @keyframes pathAnim-0 {
                            0% {
                                d: path("M 0,400 C 0,400 0,200 0,200 C 105.25,221.89285714285714 210.5,243.78571428571428 348,255 C 485.5,266.2142857142857 655.2499999999999,266.75 770,244 C 884.7500000000001,221.25000000000003 944.5,175.21428571428572 1047,164 C 1149.5,152.78571428571428 1294.75,176.39285714285714 1440,200 C 1440,200 1440,400 1440,400 Z");
                            }

                            25% {
                                d: path("M 0,400 C 0,400 0,200 0,200 C 116.60714285714286,191.5 233.21428571428572,183 351,182 C 468.7857142857143,181 587.7499999999999,187.5 726,183 C 864.2500000000001,178.5 1021.7857142857142,163 1144,164 C 1266.2142857142858,165 1353.107142857143,182.5 1440,200 C 1440,200 1440,400 1440,400 Z");
                            }

                            50% {
                                d: path("M 0,400 C 0,400 0,200 0,200 C 124.14285714285717,181.25 248.28571428571433,162.5 382,180 C 515.7142857142857,197.5 659,251.25000000000003 780,247 C 901,242.74999999999997 999.7142857142858,180.5 1106,163 C 1212.2857142857142,145.5 1326.142857142857,172.75 1440,200 C 1440,200 1440,400 1440,400 Z");
                            }

                            75% {
                                d: path("M 0,400 C 0,400 0,200 0,200 C 95.46428571428572,195.07142857142856 190.92857142857144,190.14285714285714 327,173 C 463.07142857142856,155.85714285714286 639.75,126.5 760,149 C 880.25,171.5 944.0714285714284,245.85714285714283 1048,263 C 1151.9285714285716,280.14285714285717 1295.9642857142858,240.07142857142858 1440,200 C 1440,200 1440,400 1440,400 Z");
                            }

                            100% {
                                d: path("M 0,400 C 0,400 0,200 0,200 C 105.25,221.89285714285714 210.5,243.78571428571428 348,255 C 485.5,266.2142857142857 655.2499999999999,266.75 770,244 C 884.7500000000001,221.25000000000003 944.5,175.21428571428572 1047,164 C 1149.5,152.78571428571428 1294.75,176.39285714285714 1440,200 C 1440,200 1440,400 1440,400 Z");
                            }
                        }
                    </style>
                    <defs>
                        <linearGradient id="gradient" x1="0%" y1="50%" x2="100%" y2="50%">
                            <stop offset="5%" stop-color="#4568dcff"></stop>
                            <stop offset="95%" stop-color="#b06ab3ff"></stop>
                        </linearGradient>
                    </defs>
                    <path
                        d="M 0,400 C 0,400 0,200 0,200 C 105.25,221.89285714285714 210.5,243.78571428571428 348,255 C 485.5,266.2142857142857 655.2499999999999,266.75 770,244 C 884.7500000000001,221.25000000000003 944.5,175.21428571428572 1047,164 C 1149.5,152.78571428571428 1294.75,176.39285714285714 1440,200 C 1440,200 1440,400 1440,400 Z"
                        stroke="none" stroke-width="0" fill="url(#gradient)"
                        class="transition-all duration-300 ease-in-out delay-150 path-0"></path>
                </svg>
            </div>
            <div class="main-content odd-content2">
                <div class="left-content">
                    <div>
                        <h2>Great games for You</h2>
                    </div>
                    <div>
                        <p> Light-hearted games are sure to fill anyone’s
                            gloomy regular day with loads of laughter
                            and joy while also enhancing your strategic and creative thinking. </p>
                    </div>
                    <div>
                        <p>This platform can a breakthrough for leisure and amusement
                            activities also enhancing problem solving and creative skills of people.</p>
                    </div>
                </div>
                <div class="right-content">
                    <div class="bidding-div">
                        <div><img src="/images/bidding.png" class="picture picture-up" id="bidding1"></div>
                        <div><img src="/images/bidding.png" class="picture picture-down" id="bidding2"></div>
                    </div>
                </div>
            </div>
            <footer>
                <div id="footer">
                    <div class="footer-column"><img id="footer-logo" src="/images/GIM-logos.jpeg"></div>
                    <div class="footer-column">
                        <h2>About Us</h2>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non, sed! Ex architecto
                            consequuntur
                            optio nam vero reiciendis odit fuga sunt?</p>
                    </div>
                    <div class="footer-column">
                        <h2>Contribute</h2>
                        <a href="">I'm a game publisher</a>
                        <a href="">I'm a software developer</a>
                        <a href="">Report a bug</a>
                    </div>
                    <div class="footer-column follow">
                        <h2>Follow Us</h2>
                        <p>Let us be Social</p>
                        <div>
                            <i class="fab fa-facebook-f"></i>
                            <i class="fab fa-twitter"></i>
                            <i class="fab fa-instagram"></i>
                            <i class="fab fa-youtube"></i>
                        </div>
                    </div>
                </div>
                <div class="copyrights">
                    <h4 class="text-grey">
                        Copyright &#169;2021 All rights reserved | Made by
                        <a href="#" target="_blank">GIM Team</a>
                    </h4>
                </div>
            </footer>
            <script src="/javascript/home.js"></script>
    </body>

</html>